#exampleimg1, #exampleimg2, #exampleimg3 {
	height: 500px;
}
.body {
	background: rgb(238,174,202);
	background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%); 
}

#maintext {
	padding-top: 30px;
	background-image: url(https://raw.githubusercontent.com/jondood/Test/master/img/whitebackground.jpg);
	
}

.sticky {
	position: fixed;   
    top: 0;			
    width: 100%; 		
    z-index: 9;		
}

.divider-vertical {
   height: 40px;
   margin: 0 9px;
   border-left: 1px solid #d4d2d1;
   border-right: 1px solid #d4d2d1;

}
.aclogo {
   width: 50px;
   height: 50px;
}